@CHARSET "UTF-8";
*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
body{background:#D2E0F2; }
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
input{border:1px solid #95B8E7;}
.inputText{height: 24px; line-height: 24px;}
.inputText1{height: 20px; line-height: 20px;padding: 0 2px;vertical-align: -1px;+vertical-align:-2px;}
textarea{border:1px solid #95B8E7;}
.textbox03 {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;  font-weight: bold; width: 190px; }

.txt01{font:Verdana, Geneva, sans-serif,宋体;padding:3px 2px 2px 2px;  color:#000;}
.txt {padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}
.head a{color:White;text-decoration:underline;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}



.icon{ background:url(../images/tabicons.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-sys{ background-position:0px -200px;}
.icon-set{ background-position:-380px -200px;}
.icon-add{background-position: -20px 0px;}
.icon-add1{background:url('icon/edit_add.png') no-repeat;}
.icon-nav{background-position: -100px -20px; }
.icon-users{background-position: -100px -480px;}
.icon-role{background-position: -360px -200px;}
.icon-set{background-position: -380px -200px;}
.icon-log{background-position: -380px -80px;}
.icon-delete16{background:url('icon/delete.gif') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-delete{ background-position:-140px -120px;}
.icon-edit{ background-position:-380px -320px;}
.icon-magic{ background-position:0px -500px;}
.icon-database{ background-position:-20px -140px;}
.icon-expand{ background:url('../images/coll2.gif') no-repeat;}
.icon-collapse{ background:url('../images/coll3.gif') no-repeat;}
.main-div{overflow: hidden; height: 30px;
        background: url(../images/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%;
        line-height: 20px;color: #fff; font-family: Verdana, 微软雅黑,黑体}

.dialog-content table tr{ height:35px;};

.red1{color:#F00;}

.line{
    height: 1px; 
    background: #ccc; 
    width: 100%; 
    margin: 15px 0px;
}
.breadBar {
    background: #F4FAFB;
    border: 1px solid #BBDDE5;
    color: #9CACAF;
    font-size: 14px;
    padding: 7px 10px;
    margin: 10px;
    overflow: hidden;
	display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.breadBar .breadcrumb{ 
	width:100%;
	height:auto;
	margin:0;
	padding:0
}
.breadBar .breadcrumb li{
	float:left;
	list-style:none;
	margin-left:10px
}
.easyui-note{
	width:98%;
	line-height:25px;
	margin:10px auto;
	background:#fffdec;
	border:1px solid #fbd686;
	padding:5px;
}
.easyui-danger{
	width:98%;
	line-height:25px;
	margin:10px auto;
	background:#ffeeee;
	border:1px solid #ff9898;
	padding:5px;
}
.main-layout{
	width:98%;
	height:auto;
	margin:10px auto;
	background:#fff;
	border:1px solid #cecece;
	padding:5px;
}
.main-layout table {
    background: #FFF;
    border-top: 10px solid #FFF;
    border-bottom: 10px solid #FFF;
    width: 99%;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td.label {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding: 5px 1em;
    width: 30%;
}